:root {
    --background: #4D7C8A;
    --color1: #C0CAAD; 
    --color2: #2A2828;

}
/* ROLAM.html (nem csak) */

.rolam_pages{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;

}



/* index (nem csak) */
body{
    margin: 5px;
    background-color: var(--background);
    
}


.container{
    z-index: 1;
    position: sticky;
    top: 5px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    gap: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    border-color: var(--color1);
    background-color: var(--color2); 
        


    /* flex-wrap: wrap; */
    /* gap: 10px; */
}



.b{
    background-color: var(--color1);
    font-size: 23px;
    color: var(--background);
    border-radius: 6PX;
    padding: 10PX;
    border-width: 1PX;
    border-color: var(--color2);
    border-style: solid;
}
.b:hover{
    background-color: var(--color2);
    color: var(--color1);
    border-color: var(--color1);
}



a{
    text-decoration: none;
    color: var(--color1);
    font-size: 23px;
}
a:hover{
    font-size: 23px;
    color: var(--background)
}



header .navbar a.active {
    transition: 0.5s ease-out;
}



.cim{
    font-size: 40px;
    color: var(--color1);
}



.navbar{
    font-size: 20px;
    display: flex;
    flex: flex-end;
    gap: 45px;

}

.pages{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 400px;
    text-align: center;
}

.alcím{
    color: var(--color1);
    font-size: 90px;
    margin-bottom: 75px;
}

.content{
    color: var(--color1);
    font-size: 24px;
    padding-left: 500px;
    padding-right: 500px;

}

.reveal{
    position: relative;
    transform: translateY(10px);
    opacity: 0;
    transition: 1.5s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

