:root {
    --background: #4D7C8A;
    --color1: #C0CAAD; 
    --color2: #2A2828;

}

body{
    margin-top: 0px;
    background-color: var(--background);
}

.container{
    z-index: 1;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    gap: 150px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 2px solid;
    border-radius: 5px;
    border-color: var(--color1);
    background-color: var(--color2); 
        


    /* flex-wrap: wrap; */
    /* gap: 10px; */
}

a{
    text-decoration: none;
    color: var(--color1);
    font-size: 23px;
}

a:hover{
    font-size: 23px;
    color: var(--background)
}

header .navbar a.active {
    transition: 0.5s ease-out;
}
    
.cim{
    font-size: 40px;
    color: var(--color1);
}


.navbar{
    font-size: 20px;
    display: flex;
    flex: flex-end;
    gap: 45px;

}

.pages{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 300px;
    text-align: center;
}

.alcím{
    color: var(--color1);
    font-size: 90px;
    padding-bottom: px;
}

.content{
    color: var(--color2);
    font-size: 24px;

}

.reveal{
    position: relative;
    transform: translateY(10px);
    opacity: 0;
    transition: 1.5s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }