:root {
    --background: #E9FFF9;
    --color1: #0B132B; 
    --color2: #AB87FF;

}

body{
    margin-top: 0px;
    background-color: var(--background);
}

.container{
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    gap: 150px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 3px solid black;
    border-radius: 10px;
    border-color: #AB87FF;
        


    /* flex-wrap: wrap; */
    /* gap: 10px; */
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

a:hover{
    font-size: 20px;
    color: var
}

header .navbar a.active {
    transition: 0.5s ease-out;
}
    
.cim{
 font-size: 35px;
 color: var(--colo);
}


.navbar{
    font-size: 20px;
    display: flex;
    flex: flex-end;
    gap: 45px;
}

.pages{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 300px;
    text-align: center;
}

.részcím{
    color: var(--color2);
    font-size: 90px;
    padding-bottom: px;
}

.content{
    font-size: 24px;

}

.reveal{
    position: relative;
    transform: translateY(10px);
    opacity: 0;
    transition: 1.5s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }